[submodule "src/px4-ros2-interface-lib"]
	path = src/px4-ros2-interface-lib
	url = https://github.com/Auterion/px4-ros2-interface-lib.git
[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/ryanberry13/px4_msgs.git
